rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to the test collection for testing purposes
    match /test/{document=**} {
      allow read, write;
    }
    
    // Lock down the rest of your database
    match /{document=**} {
      allow read, write: if false;
    }
  }
} 